/* General styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.contact-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}


.contact-container h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

/* Form styling */
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
}

.form-input {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}



.subject-input {
  width: 100%;
}

.form-textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
  min-height: 120px;
}

.form-textarea:focus,
.form-input:focus {
  outline: none;
  border-color: #62c6b3;
}
.submit-button {
  background: linear-gradient(to right, #0cc5b7, #61d9a1);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #218838;
}

/* Responsive styling */
@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }

  .form-input {
    width: 100%;
  }
}
