.layout {
  justify-content: space-evenly;
  gap: 4;
  height: 143px;
  align-items: center;
}
.cr {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 10px;
  background: linear-gradient(to right, #0cc5b7, #61d9a1);
  border: none;
  transition: background 0.3s ease-in-out;
}

.left {
  margin-left: 15rem;
}
.right {
  margin-right: 15rem;
}

.cr:hover {
  background: black;
}

.cr:active {
  background: #0ba897;
  transform: scale(0.95);
}
@media (max-width: 768px) {
  .layout {
    justify-content: center;
    gap: 0; /* No gap for mobile */
    height: auto;
  }

  .dish-layout {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items */
  }

  .cr.left {
    margin-left: 0; /* Remove extra spacing for mobile */
  }

  .cr.right {
    margin-right: 0; /* Remove extra spacing for mobile */
  }

  .Item-struc {
    width: 100%; /* Take full width on mobile */
    max-width: 300px; /* Set a max width to prevent overflow */
  }
}
  