.Panel {
  height: 10rem;
  background: linear-gradient(to right, #0cc5b7, #61d9a1);
}
.Panel h1 {
  text-align: center;
  padding-top: 2rem;
  color: white;
  font-size: 3rem;
}

.Panel p{
    color: white;
    text-align: center;
}
