.Custom-container {
  height: 1240px;
  background-color: #f0f7fa;
}

.pad {
  padding: 5rem 11.5rem;
}

.Off {
  background-color: #3579f6;
  color: white;
  padding: 2px;
  padding-left: 3px;
  padding-right: 3px;
  font-weight: 400;
  border: none;
  border-radius: 2px;
  text-align: center;
}

div a {
  color: #5ac5cc;
  text-decoration: none;
  font-weight: 500;
  font-size: medium;
  transition: 0.3s;
}

div a:hover {
  color: black;
}
.products {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 products in a row */
  gap: 2rem; /* Space between grid items */
}

@media (max-width: 768px) {
  .products {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* 2 products in a row for smaller screens */
  }
}

@media (max-width: 480px) {
  .products {
    grid-template-columns: repeat(
      1,
      1fr
    ); /* 1 product in a row for very small screens */
  }
}
