.OfferFront {
  font-size: smaller;
}
.body {
  overflow-x: hidden;
}

.divider {
  margin: 2px;
  width: 99.80vw;
  height: 0.5px;
  background-color: rgba(70, 70, 70, 0.146);
}
.my{
  margin-top: 3rem;
}